<!DOCTYPE html>
<html lang= "fr">
    <head>
        <title>REMOVE BEFORE BOOKING</title>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width ,initial-scale=1">        
    </head>
    <body>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Menu déroulant avec Bootstrap</title>
        <style>
            .navbar-custom 
            {display: flex;justify-content: space-between;}
            .navbar-brand {
            order: 2;
            margin-right: auto;
            }
        </style>
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Notre histoire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Louer un avion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Acheter un avion</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informations pratiques 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contact</a>
          <a class="dropdown-item" href="#">FAQ & avis clients</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Où nous trouver</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <h4>>Welcome to ...</h4>
        <h1><strong>REMOVE BEFORE BOOKING</strong><br/></h1>
        <button type="button" class="btn btn-light">connexion & inscription</button>
        <h2>You never been so close to take off</h2>
        

    </body>
</html>